# --- Django / Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
.DS_Store
staticfiles/
media/

# --- Next.js / Frontend (pasta web) ---
web/node_modules/
web/.next/
web/out/
web/build/
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*