@import "tailwindcss";

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

:root {
  /* --- SISTEMA DE CORES (Valores exatos do seu Figma, nomes limpos) --- */
  
  /* Preto (Foundation Black) */
  --foundation-black-50: rgba(230, 230, 230, 1);
  --foundation-black-100: rgba(176, 176, 176, 1);
  --foundation-black-200: rgba(138, 138, 138, 1);
  --foundation-black-300: rgba(84, 84, 84, 1);
  --foundation-black-400: rgba(51, 51, 51, 1);
  --foundation-black-500: rgba(0, 0, 0, 1);  /* PRETO TOTAL */
  
  /* Branco (Foundation White) */
  --foundation-white-500: rgba(255, 255, 255, 1);
  --foundation-white-900: rgba(107, 107, 107, 1);

  /* Azul (Foundation Blue) */
  --foundation-blue-50: rgba(249, 254, 255, 1);
  --foundation-blue-100: rgba(236, 252, 255, 1);
  --foundation-blue-200: rgba(227, 250, 255, 1);
  --foundation-blue-300: rgba(214, 248, 255, 1);
  --foundation-blue-400: rgba(206, 246, 255, 1);
  --foundation-blue-500: rgba(194, 244, 255, 1); /* SUA COR PRIMARY PROVAVELMENTE */
  --foundation-blue-600: rgba(177, 222, 232, 1);
  --foundation-blue-700: rgba(138, 173, 181, 1);
  --foundation-blue-800: rgba(107, 134, 140, 1);
  --foundation-blue-900: rgba(81, 102, 107, 1);

  /* Verde (Foundation Green) */
  --foundation-green-500: rgba(177, 255, 194, 1);
  --foundation-green-50: rgba(247, 255, 249, 1);

  /* Vermelho (Foundation Red) */
  --foundation-red-500: rgba(255, 176, 185, 1);
  --foundation-red-50: rgba(255, 247, 248, 1);

  /* Roxo (Foundation Purple) */
  --foundation-purple-500: rgba(198, 192, 255, 1);

  /* Variáveis Padrão do Shadcn/Next Mapeadas */
  --background: var(--foundation-black-500); 
  --foreground: var(--foundation-white-500);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Usa a variável --font-banana que definimos no layout.tsx */
  font-family: var(--font-banana), sans-serif; 
}